.level1 {
	background: url('breakout/someBall.jpg') 100%;
	background-repeat: no-repeat;
	background-size: 400px 400px;
}
.level2 {
	background: url('The North Pole of Venus.jpg') 100%;
	background-repeat: no-repeat;
	background-size: 400px 400px;
}
.level3 {
	background: url('breakout/TransDark.png') 100%;
	background-repeat: no-repeat;
	background-size: 400px 400px;
}
.level4 {
	background: url('breakout/Grid.png') 100%;
	background-repeat: no-repeat;
	background-size: 400px 400px;
}