main {
	background: rgb(52, 73, 94);
	min-height: 54em;
	height: 100%
}

section {
	display: none;
	font-size: 1.2em;
}

#wrapper {
	margin: auto;
	max-width: 900px;
	min-width: 450px;
}

#game {
	box-sizing: border-box;
	float: left;
	width: 450px;
}

#playButton {
	border-radius: 1px;
	border: none;
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.8);
	color: #000000;
	font-family: 'Raleway', sans-serif;
	font-size: 24px;
	background: #207bab;
	padding-top: 1px;
	padding-bottom: 2px;
	margin-bottom: 10px;
	width: 100%;
	text-decoration: none;
}

#playButton:hover {
	background: #FF6B00;
	text-decoration: none;
}

#highscore {
	box-sizing: border-box;
	float: left;
	width: 450px;
	padding: 2em 1.5em;
	font-size: 1.2em;
}

#highscore h3 {
	background: #D91E18;
	font-weight: lighter;
	text-align: center;
	font-size: 2em;
	letter-spacing: 10px;
	margin-top: 20px;
	margin-bottom: 24px;
	border-radius: 2px;
	box-shadow: 0px 1px 6px 1px rgba(0,0,0,0.8);

}

#nameandscore {
	background: #E4F1FE;
	margin-bottom: 1em;
	padding: 0px 5px;
	border-radius: 2px;
	box-shadow: 0px 1px 6px 1px rgba(0,0,0,0.8);
}

.highplayer li {
	margin: 3px 0px;
}

.scoreboard_name {
	display: inline-block;
	/* box-sizing: border-box; */
	/* float: left; */
	width: 49%;
	text-align: left;
	}

.scoreboard_score {
	display: inline-block;
	/* box-sizing: border-box; */
	/* float: left; */
	width: 49%;
	text-align: right;
}

.current_highscore {
	text-align: left;
}

.pName {
	margin-top: 24px;
	margin-bottom: 4px;
	width: 100%;
	height: 28px;
	background: #22313F;
	border-radius: 2px;
	border: none;
	font-family: 'Raleway', sans-serif;
	font-size: 1em;
	color: white;
}

.highScore li {
	margin: 3px 0px;
}

.scoreboard_name label {
	font-size: 1.5em;
}

.scoreboard_score label {
	font-size: 1.5em;
}

.result {
	display: none;
	text-align: center;
	color: #F22613;
}

.invalid {
	border: 1px solid #BF6566; 
	background: #FCEDED;
}

#highscore ul li {
	list-style: none;
}

form {
	/*float: left;*/
}

form label {
	margin: 5px 0px;
}

#tic-tac-toe {
	display: block;
	padding-top: 3em;
}

#breakout {
	padding-top: 3em;
	padding-right: 2em;
}

#pacman {
	padding-top: 3em;
	padding-right: 2em;
}

.submitButton {
	border-radius: 1px;
	border: none;
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.8);
	color: #000000;
	font-family: 'Raleway', sans-serif;
	font-size: 24px;
	background: #D91E18;
	padding-top: 1px;
	padding-bottom: 2px;
	margin-bottom: 10px;
	width: 100%;
	text-decoration: none;
}

.submitButton:hover {
	background: #FF6B00;
	text-decoration: none;
}