@media only screen and (max-device-width : 916px) {
	main {
		min-height: 1350px;
	}
	#game {
		float: none;
		margin: auto;
	}
	#highscore {
		float: none;
		margin: auto;
	}
	.wrapfooter {
		margin-left: 2em; 
		width: 450px;
	}
}
@media only screen and (max-width: 916px) {
	main {
		min-height: 1350px;
	}
	#game {
		float: none;
		margin: auto;
	}
	#highscore {
		float: none;
		margin: auto;
	}
	.wrapfooter {
		margin-left: 2em; 
		width: 450px;
	}
}