* { margin: 0; padding: 0; }
body{
	max-width: 900px;
	margin: auto;
	margin-top: 2em;
}
.mylla {
	border: 1px solid black;
}
.game {
	box-sizing: border-box;
	width: 450px;
	float: left;
	padding-bottom: 2em;
	text-align: center;
}
.score {
	box-sizing: border-box;
	width: 50%;
	min-width: 450px;
	float: left;
}
.score h3 {
	text-align: center;
	padding: 1em;
}
.scoreboard {
	box-sizing: border-box;
	float: left;
	width: 50%;
	text-align: center; 
	padding-bottom: 1em;
}

form {text-align: center;}

.submitButton {text-align: center;}